/* Ethan Goldring 16402944 */
/* Color Scheme:
FF3800 - Red
F0EDBB - Light Grey
FFFCC4 - Very Light Grey
009393 - Light Blue
00585F - Darker Blue

Fonts:
Roboto Condensed
Ubuntu
*/
/* GLOBAL SELECTORS */
body {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  margin: 0px;
  flex-direction: column;
  background-color: #EEE;
  font-family: 'Roboto Condensed', sans-serif;
}

/* CLASS SELECTORS */
.wrapper {
  display: flex;
  flex-direction: row;
}

/* header selectors */
.header {
  width: 100%;
  background-color: #FF3800;
  height: 50px;
}
/*.navbar {

}*/
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row; /* Lines up the navbar */
  justify-content: flex-end; /* Sets navbar to right */
  padding-right: 5%; /* Away from side of screen */
}
.nav-list-item {
  padding-right: 20px; /* Spaces out the navbar items */
  font-family: 'Ubuntu', sans-serif;
}
  .nav-list-item:hover {
    color: white;
  }

/* left aside selectors*/
.left-aside {
  width: 20%;
  min-width: 150px;
  height: auto; /* automatically determins height */
  max-height: 310px;
  margin-left: 2%;
  margin-top: 20px;
  background-color: white;
  padding-bottom: 10px; /* some white space at the bottom */
}
  .name{
    font-family: 'Roboto Condensed', sans-serif;
  }
  .left-image {
    width: 95%; /* set size of image */
    height: auto;
  }
  /*.left-info {

  }*/

/* main content selectors */
.main {
  /* width: auto; */
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  margin-left: auto;
  margin-right: auto; /* centres the main */
  width: 50%;
  font-family: 'Ubuntu', sans-serif;

}
  /*.main-container {

  }*/
  .cv-subheadings {
    text-align: left;
  }
  .main-paragraph {
    text-align: left;
  }

/* Form Selectors */
.contact-form {
  display: flex;
  flex-direction: column;
}
  .form-text {
    text-align: left;
    margin: 0px;
  }
  .input-subject {
    margin-top: 10px;
    margin-bottom: 20px;
  }
    .input-subject:active {
      border-color: #FF3800;
    }
  .input-message {
    margin-top: 10px;
    margin-bottom: 20px;
  }
    .input-message:active {
      border-color: #FF3800;
    }
  .radio-list {
    list-style: none;
  }
  .list-item {
    float: left;
  }
  .submit-button {
    font-family: 'Roboto Condensed', sans-serif;
  }

/* footer selectors */
.footer {
  width: 100%;
  background-color: #FF3800;
  height: 50px;
  margin-top: auto; /* pushes to the bottom of the screen */
}
  .copyright {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    padding-left: 20px;
  }

/* MEDIA QUERIES */
/* Mobile Devices */
@media (max-width:400px) { /* targets all viewports less than 400px wide */
  .nav-list-item {
    font-size: 0.9em;
  }
}

@media (max-width:360px) { /* targets all viewports less than 360px wide */
  .nav-list-item {
    font-size: 0.8em;
  }
}
